<div class="container-fluid">
  <div class="row  justify-content-center my-5">

    <div class="col-4">
      <form class="needs-validation" novalidate>
        <div class="form-group">
          <div class="row-md-3 mb-3">
            <br>
            <div class="subRayar"><h4 class="text-center">Iniciar Sesión</h4></div>
            <br>
            <div class="text-center">
              <label  for="validationCustom01">Correo electronico</label>
            </div>
            <input type="email" class="form-control" id="validationCustom01" placeholder="Ejemplo@email.com" required>
            <div class="invalid-feedback">
              Campo obligatorio!
            </div>
            <div class="valid-feedback">
              Correcto!
            </div>
          </div>
          <div class="row-md-3 mb-3">
            <div class="text-center">
              <label for="validationCustom02 text-center">Contraseña</label>
            </div>
            <input type="password" class="form-control " id="validationCustom02" placeholder="Contraseña" required>
            <div class="invalid-feedback">
              Campo obligatorio!
            </div>
            <div class="valid-feedback">
              Correcto!
            </div>
          </div>
        </div>
        
          <button class="btn btn-info my-1 mx-auto btn-block" type="submit">Ingresar</button>
        <br>
      </form>
    </div>
  </div>
</div>


